<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Amount of servings:</strong>
  <%= @recipe.serves %>
</p>

<p>
  <strong>Preparation time:</strong>
  <%= @recipe.prepare_time %>
</p>

<p>
  <strong>Calories per portion:</strong>
  <%= @recipe.calories %>
</p>

<p>
  <strong>Necessary equipment:</strong>
  <%= @recipe.equipment %>
</p>

<p>
  <strong>Necessary ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>